@font-face {
    font-family: 'VT323';
    src: url('../font/VT323-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Press Start 2P';
    src: url('../font/PressStart2P.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px
}

header nav a:hover {
    color: #ff9800;
}

header nav a.active {
    color: #ff9800; /* Changer la couleur pour la page active */
    text-decoration: underline; /* Ajouter un soulignement pour encore mieux la distinguer */
}


/* Bouton menu burger */
.menu-toggle {
    display: none; /* Masqué par défaut */
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* RESPONSIVE : Active le menu burger */
@media (max-width: 768px) {
    header nav {
        display: none; /* Masque les liens de navigation par défaut */
        flex-direction: column;
        gap: 10px;
        background-color: #333;
        position: absolute;
        top: 20px; /* Ajuste selon la hauteur du header */
        left: 20px; /* Les liens apparaîtront à gauche */
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

        header nav.active {
            display: flex; /* Affiche les liens quand le menu burger est actif */
        }

    .menu-toggle {
        display: block; /* Affiche le bouton burger */
    }
}


.underline {
    text-decoration: underline;
    margin-top: 1%;
    margin-bottom: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title_2 {
    font-weight: bold;
    color: #ff9800;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

.card {
    width: 100%;
    text-align: center;
    font-family: 'VT323', sans-serif;
    font-size: 1.5rem;
}

.contain {
    width: 98%;
    background-color: #ddd;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.Francais {width: 100%; background-color: #ff9800;}
.Anglais {width: 80%; background-color: #ff9800;}
.Japonais {width: 50%; background-color: #ff9800;}

.custom-list .list-group-item {
    background-color: darkgrey;
    color: #fff;
    font-size: 1.2em;
    padding: 15px;
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.custom-list .list-group-item:hover {
    background-color: #ff9800;
    cursor: pointer;
}

.container {
    text-align: center;
}

.btn-orange {
    text-decoration: none;
    background-color: #ff9800;
    color: white;
    border: none;
    margin: 20px;
    width: 400px;
    height: 60px;
}


.btn-orange:hover {
    background-color: #e68900;
    cursor: pointer;
}

.containermain {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}